{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/App.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'resume/NavBar.css' %}" />
<script>
    console.log("{{ latest }}")
</script>
<h1>Greg Slavens - Resume</h1>
{% if latest %}
<h1>Resume Type - {{ latest.name</h1>
<ul>
    {% for sk in latest %}
    <script>
        console.log("{{ sk }}")
    </script>
    <li class="GregsListItem">
        <h2>
            <a href="{{ sk.id }}/">{{ sk.name }}</a>
        </h2>
        <script>
            console.log("{{ sk.job.all }}")
        </script>

        Years: {{ sk.years }} {{sk.years_modifier}}
        <p>Jobs: {% if sk.job2skill %} {% for j in sk.job2skill.all %}
            <a href="../job/{{ j.id }}/">
                <p>{{ j.title }}</p>
            </a>
            {% endfor %} {% else %} No JOBS associated. {% endif %}
        </p>
        {% endfor %}
    </li>
</ul>
{% else %}
<p>No SKILLS are available.</p>
{% endif %}