{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/App.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'resume/NavBar.css' %}" />
<script>
    console.log("{{detailObj}}")
</script>
<h3>{{detailObj.title}}</h3>
<p>Company: {{ detailObj.company }} </p>
<p>Start Date: {{ detailObj.start }} </p>
<p>End Date: {{ detailObj.end }} </p>
<p>Skills: {% if detailObj.skill %} {% for s in detailObj.skill.all %}
    <p>
        <a href="../../skill/{{ s.id }}/">{{ s.name }}</a>
    </p>
    {% endfor %} {% else %} No SKILLS associated. {% endif %}