<h1>{{job.desc}}</h1>
    <ul>
        <li>
            Company: {{ job.company }} <br> 
            Start Date: {{ job.start }} <br> 
            End Date: {{ job.end }} <br> 
            Skills: {% if job.skill %}
                        {% for s in job.skill.all %}
                            <a href="../../skill/{{ s.id }}/">{{ s.desc }}</a>
                        {% endfor %}
                    {% else %}
                        No SKILLS associated.
                    {% endif %}
            
        </li>
    </ul>