{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/resume.css' %}" />

<script>
    console.log("{{detailObj}}")
</script>
<h3>{{detailObj.title}}</h3>
<p><b>Company:</b> {{ detailObj.company }} </p>
<p><b>Start Date:</b></Start> {{ detailObj.start }} </p>
<p><b>End Date:</b> {{ detailObj.end }} </p>
<p><b>Skills:</b> {% if detailObj.skill %} {% for s in detailObj.skill.all %}
    <p>
        <a href="../../skill/{{ s.id }}/">{{ s.name }}</a>
    </p>
    {% endfor %} {% else %} No SKILLS associated. {% endif %}