{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/App.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'resume/NavBar.css' %}" />
<script>
    console.log("{{varDataObject}}")
</script>
<h3>Jobs</h3>
{% if varDataObject %}
<ul>
    {% for job in varDataObject %}
    <li>
        <h4>
            <a href="{{ job.id }}/">{{ job.title }} </a>
        </h4>
        Description: {{ job.desc }}
        <br> Duties: {% if job.duty %} {% for d in job.duty.all %}
        <ul>
            <li>{{ d.desc }}</li>
        </ul>
        {% endfor %} {% else %} No DUTIES associated for this job. {% endif %}
        <br> Company:
        <a href="../company/{{ job.company.id }}/">{{ job.company }} </a>
        <br> Start Date: {{ job.start }}
        <br> End Date: {{ job.end }}
        <br> Skills: {% if job.skill %} {% for s in job.skill.all %}
        <a href="../skill/{{ s.id }}/">
            <ul>
                <li>{{ s.name }}</li>
            </ul>
        </a>
        {% endfor %} {% else %} No SKILLS associated for this job. {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No JOBS are available.</p>
{% endif %}