/* NavBar Styles */
.navBar {
  float: left;
  overflow: hidden;
  background-color: Black;
  font-family: Arial;
  color: PaleGreen;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  padding: 10px 10px 10px 10px;
}

.navBarSpan {
  color: DarkGray;
}

.navBar a {
  color: DarkGray;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
}

.navBar a:hover {
  background-color: DarkGray;
  color: Black;
  font-family: Georgia;
}

.navBar a.active {
  background-color: PaleGreen;
  color: Black;
}
