/* NavBar Styles */
.navBar {
  float: left;
  overflow: hidden;
  background-color: Black;
  font-family: Arial;
  color: PaleGreen;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  padding: 15px 15px 15px 15px;
  margin: 0px 0px 0px 0px;
}

.navBarSpan {
  color: DarkGray;
}

.navBar a {
  color: DarkGray;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
}

.navBar a:hover {
  background-color: DarkGray;
  color: Black;
}

.navBar a.active {
  background-color: Red;
  color: Black;
}

.navBar img {
  float: None;
  padding-top: 0px;
  padding-right: 15px;
}

.table {
  float: none;
  width: 100%;
  min-width: 880px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* Mobile Styles */
@media (max-width: 450px) {
  .grid {
    flex-direction: column;
  }

  .gridItem {
    width: 100%;
    margin: 0;
  }
}
