{% extends 'resume/base.html' %}
{% block content %}
<script>
    console.log("{{ varDataObject.all }}")
</script>
<h3>{{varDataObject.name}}</h3>
<p>
    <b>Description:</b> {{ varDataObject.desc|linebreaks }}</p>
<p>
    <b>Years:</b> {{ varDataObject.years }} {{varDataObject.years_modifier}} </p>
<p>
    <b>Jobs:</b> {% if varDataObject.job2skill %} {% for j in varDataObject.job2skill.all %}
    <p>
        <a href="#" onclick='funPath("Job", {{ j.id }})'>
            {{ j.title }}
        </a>
    </p>
    {% endfor %} {% else %} No JOBS associated. {% endif %}
</p>
{% endblock %}