{% extends 'resume/base.html' %} 
{% block content %}
<script>
    console.log("{{varDataObject}}")
</script>
<h3>{{varDataObject.title}}</h3>
<p><b>Company:</b> {{ varDataObject.company }} </p>
<p><b>Description:</b> {{ varDataObject.desc|linebreaks }} </p>
<br> Duties: {% if varDataObject.duty %} {% for d in varDataObject.duty.all %}
<ul>
    <li>{{ d.desc|linebreaks }}</li>
</ul>
{% endfor %} {% else %} No DUTIES associated for this job. {% endif %}
<p><b>Start Date:</b></Start> {{ varDataObject.start }} </p>
<p><b>End Date:</b> {{ varDataObject.end }} </p>
<p><b>Skills:</b> {% if varDataObject.skill %} {% for sk in varDataObject.skill.all %}
    <p>
        <a href="#" onclick='funPath("Skill", {{ sk.id }})'>{{ sk.name }}</a>
    </p>
    {% endfor %} {% else %} No SKILLS associated. {% endif %}
    {% endblock %}