{% load static %}
<script src="{% static 'resume/resume.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'resume/resume.css' %}" />
<h3>Jobs</h3>
{% if varDataObject.first != None %}
<ul>
    {% for job in varDataObject %}
    <li>
        <h4>
            <a href="#" onclick='funPath("Job", {{ job.id }})'>{{ job.title }} </a>
        </h4>
        Description: {{ job.desc|linebreaks }}
        <br> Duties: {% if job.duty %} {% for d in job.duty.all %}
        <ul>
            <li>{{ d.desc|linebreaks }}</li>
        </ul>
        {% endfor %} {% else %} No DUTIES associated for this job. {% endif %}
        <br> Company:
        <a href="#" onclick='funPath("Company", {{ job.company.id }})'>{{ job.company }} </a>
        <br> Start Date: {{ job.start }}
        <br> End Date: {{ job.end }}
        <br> Skills: {% if job.skill %} {% for sk in job.skill.all %}
        <ul>
            <li>
                <a href="#" onclick='funPath("Skill", {{ sk.id }})'>
                    {{ sk.name }} </a>
            </li>
        </ul>
        {% endfor %} {% else %} No SKILLS associated for this job. {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No JOBS are available.</p>
{% endif %}