.NavBar {
    float: left;
    overflow: hidden;
    background-color: Black;
    font-family: Arial;
    color: PaleGreen;
    font-size: 20px;
    text-align: center;
    font-variant: small-caps;
    padding: 10px 10px 10px 10px;
}

.NavBarSpan {
    color: DarkGray;
}

.NavBar a {
    color: Purple;
    /* padding: 10px 10px; */
    font-size: 20px;
    text-align: center;
    font-variant: small-caps;
}

.NavBar a:hover {
    background-color: PaleGreen;
    color: Black;
}

.NavBar a.selected {
    background-color: PaleGreen;
    color: Black;
}