{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/resume.css' %}" />

<script>
    console.log("{{varDataObject}}")
</script>
<h3>Companies</h3>
{% if varDataObject %}
<ul>
    {% for comp in varDataObject.all %}
    <li>
        Company:
        <h4><a href="../company/{{comp.id }}">{{ comp.name }} </a></h4>
        <p>Description: {{ comp.desc }}</p>
        <p>Address: {{ comp.address }}</p>
        <p>Phone: {{ comp.phone }}</p>
        <p> E-Mail:
            <a href="mailto:{{ comp.email }}">{{ comp.email }} </a>
        </p>
        <p> Website:
            <a href="{{ comp.website }}">{{ comp.website }} </a>
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No COMPANIES are available.</p>
{% endif %}