{% extends 'resume/base.html' %} 
{% block content %} 
<script>
    console.log("In Resume_detail.Html")
    console.log("{{ varDataObject }}")
</script>
{% if varDataObject.id >= 1 %}
<h1>{{ varDataObject.resume_owner }} - {{ varDataObject.resume_type }} </h1>
<ul>
    <script>
        console.log("About to Render Summary")
        console.log("{{ varDataObject.summary.all }}")
    </script>
    {% include "Summary/detail.html" with varDataObject=varDataObject.summary.first %}
    <script>
        console.log("About to Render Skills")
        console.log("{{ varDataObject.skill.all }}")
    </script>
    {% include "Skill/index.html" with varDataObject=varDataObject.skill.all %}
    <script>
        console.log("About to Render Jobs")
        console.log("{{ varDataObject.job.all }}")
    </script>0
    {% include "Job/index.html" with varDataObject=varDataObject.job.all %}
    <script>
        console.log("About to Render References")
        console.log("{{ varDataObject.reference.all }}")
    </script>
    {% include "Reference/index.html" with varDataObject=varDataObject.reference.all %}
</ul>
{% else %}
<p>No RESUMES are available.</p>
{% endif %}
{% endblock %}
