{% extends 'resume/base.html' %} {% block content %} {% if varDataObject.first != None %} {% for res in varDataObject.all %}
<script>
    console.log("Inside resume index.html - <script>")
    console.log("About to log varDatObject")
    console.log("{{ varDataObject  }}")
</script>
<ul>
    <script>
        console.log("Inside Resume index Loop - Resume - {{ res.resume_type }}")
    </script>
    <li>
        <h2>
            <a href="#" onclick='funPath("Resume", {{ res.id }})' style="color:var(--text-over-bg-dark);" class="ResumeHeader">{{ res }}</a>
        </h2>
        <script>
            console.log("About to Render Summary")
            console.log("{{ res.summary.all }}")
        </script>
        {% include "Summary/detail.html" with detailObj=res.summary.first %}
        <script>
            console.log("About to Render Skills")
            console.log("{{ res.skill.all }}")
        </script>
        {% include "Skill/index.html" with varDataObject=res.skill.all %}
        <script>
            console.log("About to Render Jobs")
            console.log("{{ res.job.all }}")
        </script>
        {% include "Job/index.html" with varDataObject=res.job.all %}
        <script>
            console.log("About to Render References")
            console.log("{{ res.reference.all }}")
        </script>
        {% include "Reference/index.html" with varDataObject=res.reference.all %}
    </li>
</ul>
</div>
{% endfor %} {% else %}
<h1>Greg Slavens Django Resumes</h1>
<p>No RESUMES are available.</p>
{% endif %} {% endblock %}