<h1>{{skill.desc}}</h1>
    <ul>
        <li>
            Company: {{ skill.company }} <br> 
            Start Date: {{ skill.start }} <br> 
            End Date: {{ skill.end }} <br> 
            Skills: {% if skill.skill %}
                        {% for s in skill.skill.all %}
                            <a href="../../skill/{{ s.id }}/">{{ s.skill }}</a>
                        {% endfor %}
                    {% else %}
                        No SKILLS associated.
                    {% endif %}
            
        </li>
    </ul>