<script>
    console.log("{{ latest }}")
</script>
<h1>Skills</h1>
{% if latest %}
<ul>
    {% for sk in latest %}
    <script>
        console.log("{{ sk }}")
    </script>
    <li>
        <h2>
            <a href="{{ sk.id }}/">{{ sk.name }}</a>
        </h2>
        <script>
            console.log("{{ sk.job.all }}")
        </script>Years: {{ sk.years }} {{sk.years_modifier}}
        <p>Jobs: {% if sk.job %} {% for j in sk.job.all %}
            <a href="../job/{{ j.id }}/">
                <li>{{ j.title }}</li>
            </a>
            {% endfor %} {% else %} No JOBS associated. {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No SKILLS are available.</p>
{% endif %}