{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/resume.css' %}" />

<script>
    console.log("In Skills - Index.Html - Printing varDataObject")
    console.log("{{ varDataObject.all }}")
</script>
<h3>Skills</h3>
{% if varDataObject %}
<ul>
    {% for sk in varDataObject.all %}
    <script>
        console.log("{{ sk }}")
    </script>
    <li>
        <h4>
            <a href="{{ sk.id }}/">{{ sk.name }}</a>
        </h4>
        <script>
            console.log("{{ sk.job.all }}")
        </script>
        <h5>Years: {{ sk.years }} {{sk.years_modifier}}</h5>
        Jobs: {% if sk.job2skill %} {% for j in sk.job2skill.all %}
        <ul>
            <li>
                <a href="../job/{{ j.id }}/">
                    {{ j.title }}
                </a>
            </li>
        </ul>
        {% endfor %} {% else %} No JOBS associated. {% endif %} {% endfor %}
    </li>
</ul>
{% else %}
<p>No SKILLS are available.</p>
{% endif %}