@import url("color_pallete.css");
body {
  padding: --main-padding;
  border: 1px solid #eee;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  padding: var(--main-padding);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  text-align: left;
  color: var(--bg-and-text-dark);
  background-color: var(--row-light);
  padding: var(--list-padding);
  /* padding-left: 15px; */
  margin-left: 30px;
}

ul {
  text-align: left;
  color: var(--bg-and-text-dark);
  background-color: var(--row-light);
  padding: var(--list-padding);
}

.UL_BG_Color {
  background-color: var(--row-light);
  padding: var(--main-padding);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

h1 {
  color: var(--text-over-bg-dark);
  background-color: var(--bg-and-text-dark);
  border-radius: 8px;
  padding: var(--header-padding);
}

h2 {
  color: var(--text-over-bg-semi-dark);
  background-color: var(--bg-and-text-semi-dark);
  border-radius: 8px;
  padding: var(--header-padding);
}

h3 {
  color: var(--text-over-bg-semi-light);
  background-color: var(--bg-and-text-semi-light);
  border-radius: 8px;
  padding: var(--header-padding);
}

h4 {
  color: var(--text-over-bg-semi-light);
  background-color: var(--bg-and-text-light);
  border-radius: 8px;
  padding: var(--header-padding);
}

a {
  color: var(--bg-and-text-dark);
}

a:hover {
  color: var(--bg-and-text-semi-light);
}

.NavBar {
  display: flex;
  overflow: hidden;
  background-color: var(--bg-and-text-dark);
  font-family: Arial;
  color: var(--text-over-bg-dark);
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  padding: var(--header-padding);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.NavBarSpan {
  color: var(--row-semi-dark);
  margin: 0px, 0px, 0px, 5px;
}

.NavBar a {
  color: Purple;
  /* padding: 10px 10px; */
  font-size: 20px;
  text-align: left;
  font-variant: small-caps;
}

.NavBar a:hover {
  background-color: PaleGreen;
  color: Black;
}

.NavBar a.selected {
  background-color: PaleGreen;
  color: Black;
}

.GregsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}